.section {
   background-color:#252525!important;
}

.gray-section {
   background-color:#353535!important;
}

.header {
   background-color:#111!important;
}

.subheader {
   background-color:#333!important;
}

.footer {
   background-color:#333!important;
   margin-top:0px;
}

.top-secondary-label {
   color:#fff!important;
}

.menu-toggle {
   background-color:#fff!important;
}

.thb-post-interactions a {
   background-color:#444!important;
}

.pagination {
   margin-bottom:50px;
}

span.current{
   background-color:#f8e600!important;
   color:#000!important;
}

a.page-numbers {
   background-color:#444!important;
}

.subcategory-link {
   background-color:#444!important;
}

.swal2-popup {
   background-color:#444!important;
}

.swal2-content {
   color:#ccc!important;
}

.page-membership {
   color:#ccc!important;
}

.thb-author-content h5 a {
   color:#fff!important;
}

#kvkk {   
   color:#111!important;
}

#btn-kvkk {
   background-color:#fff!important;
   color:#fff!important;
}

body {
   color:#ccc!important;
   background-color:#252525!important;
}

h4 {
   color:#fff!important;
}

a {
   color:#fff!important;
}

a:hover {
   color:#f8e600!important;
}

span {
   color:#fff!important;
}
